@keyframes drop {
  0% {
    transform: translateY(-150%) rotate(0deg);
    opacity: 0;
  }
  30% {
    transform: translateY(60%) rotate(15deg);
    opacity: 1;
  }
  60% {
    transform: translateY(-20%) rotate(-10deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

.dropAnimation {
  display: inline-block;
  animation: drop 1.2s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards; /* スピードとイージングを調整 */
  animation-delay: 0.1s;
  color: rgb(195, 71, 252);
  font-weight: bold;
  font-size: 8rem;
  white-space: nowrap;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* テキストに影を追加 */
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 150px;
  margin-bottom: 20px;
  cursor: pointer;
}

/* ログインボックスのスタイル */
.loginBox {
  animation: drop 0.5s ease forwards;
  margin-top: 20px;
  z-index: 1;
}
